

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    background: #fdfdfd;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container__background{
    background-color: rgb(233, 236, 234)
}
.img-size{
    width: 200px;
    border-radius: 100%;
    animation: moveUpDown 5s infinite alternate;
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    100% {
      transform: translateY(0); /* Ajuste a quantidade de movimento conforme necessário */
    }
  }
.enviado {
    background-color: #8bc34a; /* Ou qualquer outra cor de sua escolha */
}

.check__style{
    padding: .5rem;
}
.lista_transition{
    transition: 1s;
}
.botao {
    position: fixed;
    bottom: 50px; /* Distância do botão até o final da tela */
    left: 120px; /* Distância do botão até a borda direita da tela */
  }
  
  .container__nav{
    margin-left: 12rem;
  }